body {
  font-family: 'Lato', sans-serif;
  background-image: url('../src/assets/landingbg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}


