.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.navbar ul {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar ul li {
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.5rem;
    cursor: pointer;
}

.navbar ul a {
    text-decoration: none;
    background-color: black;
    border-radius: 18px;
    padding: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
}