.navPagination {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ulPagination {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}

.liPagination {
    list-style: none;
    
}