.navPagination {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dvPagination {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 16px;
    color: #fff;
}

.pageNumber {
    background-color: #000;
    width: 100px;
    text-align: center;
    border-radius: 25px;
    margin: 20px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}